<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Game {{game.id}}</h5>
          <p>
            <strong>Name</strong>: {{game.name}}</p>
          <p>
            <img src={{example.link}} alt="Profile Image">
            <strong>Entries:</strong> {{example.entries}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
