<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">

          <h5 class="card-title">Add your entries here</h5>
          <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-name">Name</label>
            <input type="text" id="example-name" class="form-control" aria-describedby="example-name" placeholder="Enter Name">
          </div>
           <div class="form-group">
            <label for="example-entries">Entries</label>
            <input type="text" id="example-entries" class="form-control" aria-describedby="example-entries" placeholder="Entries">
          </div>
           <div class="form-group">
            <label for="example-link">Avatar</label>
            <input type="text" id="example-link" class="form-control" aria-describedby="example-link" placeholder="Enter Avatar">
          </div>
         
          <button id="submit" class="btn btn-primary float-right">Add Player</button>
          <button id="submit" class="btn btn-primary float-right">Start Raffle</button>
        </form>
        <a href="/">← Back To Home</a>

          {{!-- <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{example.name}}</p>
          <p>
            
            <strong>Entries:</strong> {{example.entries}}</p>

            <p>
              <img src={{example.link}} alt="Avatar Image">
            </p>
            <button>Add Player</button>
            <button>Start Raffle</button>
            <br>
            <a href="/">← Back To Home</a>
        </div> --}}
      </div>
    </div>
  </div>
</div>
