.list-group-item {
  line-height: 2.5;
}
body {
  background-image: url('../images/background4.png');
}

.roulette, .cardBody {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cardRow {
  background-image: url('../images/spiral1.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.dropdown-menu, .dropdown-toggle {
  width: 688px;
}



.dropdown img {
  margin: 10px;
  width: 100px;
}

.btn-primary {
  color: black;
  background-color: #e4cb40;
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;

}
dt, label, .dropdown-item, #goBack {
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

h5 {
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: auto;
}

h2 {
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: auto;
}

#Prize, #Current {
  color: white;
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: auto;

}
